/* 进入前 (初始状态) */
.addGoods-enter {
    display: block;
    opacity: 0;
}

/* 进入中 */
.addGoods-enter-active {
    display: block;
    opacity: 1;
    transition: opacity 1000ms;
}

/* 进入完成 */
.addGoods-enter-done {
    display: block;
    opacity: 1;
}

/* 退出前 (初始状态) */
.addGoods-exit {
    display: block;
    opacity: 1;
}

/* 退出中 */
.addGoods-exit-active {
    display: block;
    opacity: 0;
    transition: opacity 1000ms;
}

/* 退出完成 */
.addGoods-exit-done {
    opacity: 0;
}